/* Light mode styles */
.banner {
  background-color: #FFFF55;
  border: solid #000000;
}
body {
  background-color: #AAAA00;
  color: #000000;
}

article {
  background-color: #fcc4ff;
  border: solid 3px #faa3ff;
}

/* Rest of the light mode styles... */