.banner {
  background-color: #FFFF55;
  border: solid #000000;
}
body {
  background-color: #BBAA44;
  color: #000000;
}

article {
  background-color: #fcc4ff;
  border: solid 3px #faa3ff;
}
.SocialMediaButton {
  color: #000;
}