/* Código CSS aquí */
button, h1, h2, h3 {
font-family: 'Balsamiq Sans';
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}
/* Desktop styles (default) */
body {
  font-size: 16px;
}

/* Tablet styles */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}
button {
margin-bottom: 5px; 
border: solid 2px black; 
border-radius: 5px; 
background-color: #FF6666;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fcc200;
}

input:checked + .slider:before {
  transform: translateX(26px);
}